<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de funcionário</title>
</head>
<body>
    <form th:action="${Funcionario.Id}==0 ?  @{/funcionario/novo} : @{/funcionario/editar}" th:object="${Funcionario}" method="post">
        <input hidden type="text" th:field="*{Id}" >
        <div>
            <label>Nome</label>
            <input type="text" th:field="*{Nome}" >
        </div>
        <div>
            <label>Ctps</label>
            <input type="text" step="any" th:field="*{Ctps}" >
        </div>
        <div>
            <label>Data de admissão</label>
            <input type="date" step="any" th:field="*{Admissao}" >
        </div>
        <div>
            <label>Data de recissão</label>
            <input type="date" step="any" th:field="*{Recisao}" >
        </div>
        <input type="submit" value="Salvar">
    </form>
    
</body>
</html>