<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de cargos</title>
</head>
<body>
    <form th:action="${Cargo.Id}==0 ?  @{/cargo/novo} : @{/cargo/editar}" th:object="${Cargo}" method="post">
        <input hidden type="text" th:field="*{Id}" >
        <div>
            <label>Nome</label>
            <input type="text" th:field="*{Nome}" >
        </div>
        <div>
            <label>Salário</label>
            <input type="number" step="any" th:field="*{SalarioMensal}" >
        </div>
        <div>
            <label>Descrição</label>
            <textarea id="desc" name="desc" rows="5" cols="33" th:field="*{Descricao}"></textarea>
        </div>
        <input type="submit" value="Salvar">
    </form>
    
</body>
</html>